body {
	color: $body-color;
	background: $body-bg;
	min-width: 320px;
	@include style-font(16px, 25px, 400);
	font-family: "Exo 2", Arial, sans-serif;

	@media ($tablet-widths) {
		min-width: 700px;
	}

	@media ($desktop-widths) {
		min-width: 1200px;
	}
}

img {
	max-width: 100%;
	height: auto;
	border: none;
}

section {
	position: relative;
}

ul {
	list-style: none;
}

p,
h1,
h2,
h3,
h4,
ul,
input,
figure {
	margin: 0;
	padding: 0;
}

input[type="text"],
input[type="search"] {
	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}
	&::-ms-reveal {
		display: none;
		width: 0;
		height: 0;
	}
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
	display: none;
}

article,
aside,
details,
footer,
header,
hgroup,
main,
menu,
nav,
section {
	position: relative;
	display: block;
	font-size: 0;
	line-height: 0;
}

button {
	text-transform: none;
	cursor: pointer;
}

.container {
	@include container();
}

.vissualy-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.hidden-block,
.svg-hide {
	display: none;
}
