/* font-family: "exo2regular"; */
@font-face {
	font-family: "exo2";
	src: url("../fonts/exo2.eot");
	src: url("../fonts/exo2.eot?#iefix")format("embedded-opentype"),
	url("../fonts/exo2.woff") format("woff"),
	url("../fonts/exo2.ttf") format("truetype");
	font-weight: 400;
}
/* font-family: "exo2bold"; */
@font-face {
	font-family: "exo2";
	src: url("../fonts/exo2bold.eot");
	src: url("../fonts/exo2bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/exo2bold.woff") format("woff"),
	url("../fonts/exo2bold.ttf") format("truetype");
	font-weight: 700;
}
/* font-family: "exo2medium"; */
@font-face {
	font-family: "exo2medium";
	src: url("../fonts/exo2medium.eot");
	src: url("../fonts/exo2medium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/exo2medium.woff") format("woff"),
	url("../fonts/exo2medium.ttf") format("truetype");
	font-weight: 500;
}
/* font-family: "Robotocondensed"; */
@font-face {
	font-family: "robotocondensed";
	src: url("../fonts/robotocondensed.eot");
	src: url("../fonts/robotocondensed.eot?#iefix")format("embedded-opentype"),
	url("../fonts/robotocondensed.woff") format("woff"),
	url("../fonts/robotocondensed.ttf") format("truetype");
	font-weight: 400;
}
