/* font-family: "exo2regular"; */
@font-face {
	font-family: "Exo 2";
	src: url("../fonts/Exo2-Regular.eot");
	src: url("../fonts/Exo2-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Exo2-Regular.woff") format("woff"),
	url("../fonts/Exo2-Regular.ttf") format("truetype");
	font-weight: 400;
}
/* font-family: "exo2bold"; */
@font-face {
	font-family: "Exo 2";
	src: url("../fonts/Exo2-Bold.eot");
	src: url("../fonts/Exo2-Bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Exo2-Bold.woff") format("woff"),
	url("../fonts/Exo2-Bold.ttf") format("truetype");
	font-weight: 700;
}
/* font-family: "exo2medium"; */
@font-face {
	font-family: "Exo 2";
	src: url("../fonts/Exo2-Medium.eot");
	src: url("../fonts/Exo2-Medium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Exo2-Medium.woff") format("woff"),
	url("../fonts/Exo2-Medium.ttf") format("truetype");
	font-weight: 500;
}
/* font-family: "Robotocondensed"; */
@font-face {
	font-family: "Exo 2";
	src: url("../fonts/Exo2-Black.eot");
	src: url("../fonts/Exo2-Black.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Exo2-Black.woff") format("woff"),
	url("../fonts/Exo2-Black.ttf") format("truetype");
	font-weight: 900;
}
