.form {
	position: relative;
	
	&__input-text {
		display: none; 
		@media ($tablet-widths) {
			display: block;
			width: 100%;
			box-sizing: border-box;
			padding-left: 10px;
			@include style-font(14px, 33px, 400);
			color: #7f7f7f;
			border: 1px solid #e7e7e7;
			border-radius: 2px;
			outline: none;
			cursor: pointer;
		}
	}
	&__label-text {
		@include position-container(50%, 50%, auto, 11px);
		width: 22px;
		height: 22px;
		z-index: 20;
		background: url(../img/svg/search.svg) no-repeat;
		cursor: pointer;
		background-position: 0 0;
	}
}

.form-city {
	position: relative;
	padding-bottom: 25px;
	& input[type="search"] {
		width: 100%;
		box-sizing: border-box;
		padding-left: 10px;
		@include style-font(14px, 38px, 400);
		color: #7f7f7f;
		border: 1px solid #e7e7e7;
		border-radius: 2px;
		outline: none;
		cursor: pointer;
	}
	& label {
		@include position-container(10px, auto, auto, 9px);
		width: 22px;
		height: 22px;
		z-index: 20;
		background: url(../img/svg/search.svg) no-repeat;
		cursor: pointer;
		background-position: 0 0;
	}
}
