.basket {
	position: relative;
	margin-right: 6px;

	@media ($tablet-widths) {
		order: 2;
		margin-right: 0;
		align-self: center;
	}

	@media ($desktop-widths) {
		margin-right: 20px;
		order: unset;
		align-self: unset;
	}
	
	&__link {
		position: relative;
		display: block;
		width: 40px;
		height: 40px;
		cursor: pointer;
		background: #efeff1;
		border-radius: 2px;
		&:hover {
			background: #bfbfbf;
		}

		@media ($tablet-widths) {
			width: 50px;
			height: 50px;
		}

		&::before {
			@include position-container(0, 0, 0, 0);
			width: 22px;
			height: 30px;
			z-index: 20;
			background: transparent url(../img/sprite.png) -133px -10px;
		}
		

	}
	&__number {
		@include position-container(-3px, auto, auto, -4px);
		width: 16px;
		height: 16px;
		z-index: 20;
		background: #ec4324;
		border-radius: 50%;
		text-align: center;
		&::after {
			content: "0";
			position: absolute;
			top: -9px;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 21;
			@include style-font(11px, 33px, 400);
			color: $body-bg;
		}
		@media ($tablet-widths) {
			top: -9px;
			width: 20px;
			height: 20px;
			&::after {
				top: -6px;
				font-size: 14px;
			}
		}
		
	}
}