.call-back {
	display: none;

	@media ($tablet-widths) {
		padding: 4px 31px 0 33px;
		text-align: center;
		@include style-font(14px, 30px, 400);
		color: $body-bg;
		@include a-link();
		background: #ee5a3f;
		cursor: pointer;
		align-self: stretch;
	}

	&__link {
		position: relative;
		&::after {
			@include position-container(30px, 0, 0, 0);
			width: 100%;
			height: 2px;
			z-index: 20;
			border-bottom: 1px dashed $body-bg;
		}
	}
}
