.card {
	position: relative;
	max-width: 380px;
	margin-bottom: 36px;

	@media ($tablet-widths) {
		width: 380px;
		margin: 0 auto 36px;
	}
	@media ($desktop-widths) {
		display: inline-block;
		margin-right: 20px;
		margin-bottom: 36px;
		vertical-align: top;
		text-align: left;
		&:nth-child(3n) {
			margin-right: 0px;
		}
	}

	&.card--click {
		& .card__wrapper {
			height: 465px;
			@media ($tablet-widths) {
				height: 605px;
			}
		}

		& .card__wrapper {
			box-shadow: 6px 6px 20px 0 rgba(43,43,43,.15);
		}

		& .card__image {
			height: 176px;
			@media ($tablet-widths) {
				height: 231px;
			}
		}

		& .card__main-image {
			display: none;
		}
		& .card__text--hidden {
			display: block;
		}

		& .card-slider {
			display: block;
		}

		& .card__action--hidden {
			display: block;
		}
	}

	&:hover {
		@media ($desktop-widths) {
			& .card__wrapper {
				height: 605px;
				position: absolute;
				z-index: 300;
				box-shadow: 6px 6px 20px 0 rgba(43,43,43,.15);
			}
			& .card__image {
				height: 231px;
			}
			& .card__main-image {
				display: none;
			}

			& .card__text--hidden {
				display: block;
			}

			& .card-slider {
				display: block;
			}

			& .card__action--hidden {
				display: block;
			}
		}
	}

	&__wrapper {
		height: 365px;
		overflow: hidden;
		background: $body-bg;
		@media ($tablet-widths) {
			height: 505px;
		}
	}

	&--hidden {
		display: none;

		@media ($desktop-widths) {
			display: inline-block;
		}
	}

	&__image {
		width: 290px;
		height: 289px;
		margin-bottom: 10px;

		@media ($tablet-widths) {
			width: 380px;
			height: 386px;
			margin-bottom: 20px;
		}
	}

	&__description {
		@media ($tablet-widths) {
			padding: 0px 20px 18px;
		}
	}

	&__main-image {
		overflow: hidden;
	}

	&__text {
		height: 22.81px;
		max-height: 22.81px;
		
		@include style-font( 15px, 22.81px, 700);
		color: $text-color;
		overflow: hidden;

		@media ($tablet-widths) {
			height: 30px;
			max-height: 30px;
			@include style-font( 20px, 30px, 700);
		}

		&--hidden {
			display: none;
		}

		&--title {
			margin-bottom: 0px;
			text-transform: uppercase;
		}
		&--title-sub {
			margin-bottom: 0px;
		}

		&--subtitle,
		&--housing-description,
		&--facade-description {
			font-size: 12px;
			font-weight: 400;
			color: #7f7f7f;

			@media ($tablet-widths) {
				margin-bottom: 10px;
				@include style-font( 16px, 32px, 400);
			}
		}

		&--housing-description,
		&--facade-description {
			padding-top: 5px;
			font-weight: 700;
			color: $text-color;
			border-top: 1px solid #e7e7e7;
			overflow: hidden;
		}

		&--facade-colors img,
		&--housing-colors img {
			margin-left: 15px;
			border: 1px solid transparent;
			&:hover {
				border: 1px solid #ee5a3f;
			}
			&:first-child {
				margin-left: 0;
			}
		}
		&--prices {
			margin-bottom: 10px;
		}
		&--housing-colors {
			margin-bottom: 15px;
		}
	}

	&__housing-text {
		display: inline-block;
		max-width: 68px;
		vertical-align: bottom;
		font-weight: 700;
		&--sub {
			max-width: 140px;
			margin-left: 10px;
			font-weight: 400;
		}
	}

	&__facade-text {
		display: inline-block;
		max-width: 63px;
		vertical-align: bottom;
		font-weight: 700;
		&--sub {
			max-width: 140px;
			margin-left: 10px;
			font-weight: 400;

			@media ($tablet-widths) {
				max-width: 190px;
			}
		}
	}

	&__price {
		display: inline-block;
		max-width: 104px;
		vertical-align: bottom;
		overflow: hidden;

		@media ($tablet-widths) {
			max-width: 137px;
		}

		&--old {
			position: relative;
			margin-right: 24px;
			font-weight: 500;

			@media ($tablet-widths) {
				margin-right: 30px;
				font-weight: 500;
			}

			&:before {
				position: absolute;
				content: "";
				width: 100%;
				height: 11px;
				border-bottom: 3px solid #ff1414;
				-ms-transform: rotate(-7deg);
				transform: rotate(-7deg);
			}
		}

		&--new {
			font-size: 19px;
			@media ($tablet-widths) {
				font-size: 26px;
			}
		}
	}

	&__action {
		padding-top: 15px;
		&--hidden {
			display: none;
		}
	}
}


