.card {
	& .card-slider {
		display: none;
	}
}

.card-slider {
	& .slick-arrow {
		position: absolute;
		display: block;
		top: 43%;
		background: 0 0;
		z-index: 10;
		border: none;
		outline: none;
		cursor: pointer;
	}
	& .slick-prev {
		left: 0;
	}
}
