.dropdown-menu {
	display: none;

	@media ($tablet-widths) {
		position: absolute;
		min-height: 415px;
		width: 100%;
		height: auto;
		top: 80px;
		left: 0;
		z-index: 2000;
		background: $body-bg;
		box-shadow: 0px 1px 8px 0px rgba(43, 43, 43, 0.15);
		border-radius: 3px;
	}

	&__wrapper {

		@media ($tablet-widths) {
			padding: 0 40px;
		}

		@media ($desktop-widths) {
			padding: 0 50px;
		}
	}

	&__list {
		display: inline-block;
		width: 25%;
		margin: 0;
		list-style: none;
		vertical-align: top;
		text-align: left;
	}

	&__item {
		&--bigger {
			margin-top: 21px;
		}

	}
	&__link {
		@include a-link();
		@include style-font(16px, 30px, 400);
		color: $text-color;
		&:hover {
			color: #ee5a3f;
		}
		&--bigger {
			@include style-font(14px, 30px, 700);
			text-transform: uppercase;
		}
	}
}

.main-nav__list > .main-nav__item:hover .dropdown-menu {
	@media ($tablet-widths) {
		display: block;
	}
}
