.dropdown-menu-toggle {
	position: absolute;
	display: block;
	top: 40%;
	left: 19px;
	width: 11px;
	height: 17px;
	padding: 0;
	border: 0;
	cursor: pointer;
	outline: 0;
	background: transparent;
	&>span::before {
		content: "";
		position: absolute;
		margin: auto;
		top: 0px;
		width: 11px;
		height: 11px;
		transform: rotate(135deg);
		border-right: 2px solid #363636;
		border-bottom: 2px solid #363636;
		z-index: 100;
	}

	@media ($tablet-widths) {
		display: none;
	}
}

.dropdown-menu-toggle span:hover::before,
.dropdown-menu-toggle span:active::before {
	border-right: 2px solid #dc3e21;
	border-bottom: 2px solid #dc3e21;
}

