.header-nav {
	@media ($tablet-widths) {
		padding-top: 30px;
	}

	&__inner {
		display: flex;
		max-width: 640px;
		margin: 0 auto;
		padding: 8px 15px 7px;
		align-items: center;
		justify-content: space-between;

		@media ($tablet-widths) {
			max-width: 1180px;
			padding: 0 40px;
			flex-wrap: wrap;
			align-items: flex-end;
		}

		@media ($desktop-widths) {
			max-width: 1180px;
			padding: 0 50px;
		}
	}

	&__wrapper {
		display: flex;

		@media ($tablet-widths) {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
		}
		@media ($desktop-widths) {
			display: flex;
			width: 845px;
			flex-wrap: wrap;
			flex-direction: column;
		}
	}
}
