.header {
	background: #fff;
	&__inner {
		display: flex;
		max-width: 640px;
		margin: 0 auto;
		padding: 8px 15px 7px;
		align-items: center;
		justify-content: space-between;

		@media ($tablet-widths) {
			display: block;
			max-width: none;
			margin: 0;
			padding: 0;
		}
	}
}