.header-top {
	background: $body-color;
	display: none;

	@media ($tablet-widths) {
		display: block;
	}

	&__inner {
		display: flex;
		margin: 0 auto;
		padding: 8px 15px 7px;
		align-items: center;
		justify-content: space-between;

		@media ($tablet-widths) {
			max-width: 1180px;
			padding: 0 40px;
			flex-wrap: wrap;
		}

		@media ($desktop-widths) {
			max-width: 1180px;
			padding: 0 50px;
			justify-content: flex-start;
		}
	}

	&__wrapper {
		display: flex;
		flex-grow: 10;
		flex-wrap: nowrap;
		flex-direction: column-reverse;
		align-items: flex-start;

		@media ($tablet-widths) {
			display: flex;
			flex-grow: 10;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
		}

	}
	&__geolocation {
		display: flex;
		align-items: flex-start;		
		& span {
			display: block;
			@include style-font(14px, 17px, 400);
			color: black;
			&:hover {
				color: #7f7f7f;
			}

			@media ($tablet-widths) {
				line-height: 30px;
				color: #3d3d3d;
			}
		}

		@media ($tablet-widths) {
			width: 200px;
		}

	}
	&__position {
		display: flex;
		margin-bottom: 12px;
		flex-grow: 1;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;

		@media ($tablet-widths) {
			margin-bottom: 0;
		}

	}
	&__action {
		@media ($tablet-widths) {
			display: none;
		}

		@media only screen and (min-width: 1046px) {
			display: block;
			@include style-font(14px, 30px, 500);
			color: $text-color;
		}
		
	}
	&__phone {
		@include a-link();
		font-size: 15px;
		line-height: 40px;
		font-weight: normal;
		font-family: Arial, sans-serif;
		color: $text-color;
		& strong {
			font-weight: 700;
		}

		@media ($tablet-widths) {
			display: none;
		}

		@media only screen and (min-width: 1046px) {
			display: block;
			padding-right: 18px;
			font-size: 16px;
			font-weight: bold;
		}
	}
}
