.logo {
	display: block;
	margin-right: 54px;

	@media ($tablet-widths) {
		margin-right: 0px;
	}

	&__img {
		width: 102px;
		height: 30px;
		background: url("../img/svgsprite/logo.svg") no-repeat center;
		background-size: 100%;

		@media ($tablet-widths) {
			width: 204px;
			height: 60px;
		}
	}
}
