.main-nav {
	display: none;
	background: $body-bg;

	@media ($tablet-widths) {
		display: block;
		width: 100%;
		margin-bottom: 10px;
		padding-top: 10px;
		order: 4;
	}

	@media ($desktop-widths) {
		width: auto;
		margin-bottom: 20px;
		padding-top: 30px;
		order: unset;
	}

	&__list {
		flex-direction: column;

		@media ($tablet-widths) {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		@media ($desktop-widths) {
			justify-content: left;
		}

	}
	&__item {
		margin: 0;
		border: 0;
		&:last-child .main-nav__link {
			margin-right: 0px;
		}
	}
	&__link {
		position: relative;
		padding: 5px 15px;
		@include a-link();
		@include style-font(15px, 30px, 700);
		cursor: pointer;
		color: $text-color;
		border-bottom: 1px solid $body-color;
		text-transform: uppercase;
		&::after {
			@include position-container(50%, 50%, auto, 16px);
			width: 0;
			height: 0;
			border-top: 4px solid transparent;
			border-left: 5px solid $text-color;
			border-bottom: 4px solid transparent;
			z-index: 10;

			@media ($tablet-widths) {
				display: none;
			}
		}
		&:hover {
			color: #ee5a3f;
			opacity: 0.9;
			transition: background .3s .5s;
			&::after {
				border-top: 4px solid transparent;
				border-left: 5px solid #ee5a3f;
				border-bottom: 4px solid transparent;
				opacity: 0.9;
				transition: background .3s .5s;
			}
		}

		&:active {
			color: #ee5a3f;
			opacity: 0.3;
			transition: background .3s .5s;
			&::after {
				border-top: 4px solid transparent;
				border-left: 5px solid #ee5a3f;
				border-bottom: 4px solid transparent;
				opacity: 0.9;
				transition: background .3s .5s;
			}
		}

		@media ($tablet-widths) {
			margin-right: 10px;
			padding: 0px;
			font-size: 13px;
			border: none;
		}
		@media only screen and (min-width : 900px) {
			font-size: 16px;
		} 
		@media ($desktop-widths) {
			margin-right: 71px;
		}
		
		&--action {
			color: #ee5a3f;
			&::after {
				@include position-container(50%, 50%, auto, 16px);
				width: 0;
				height: 0;
				border-top: 4px solid transparent;
				border-left: 5px solid #ee5a3f;
				border-bottom: 4px solid transparent;
				z-index: 10;

				@media ($tablet-widths) {
					display: none;
				}
			}
		}
	}
}

