.main-nav {
	display: none;
	background: $body-bg;

	@media ($tablet-widths) {
		display: block;
		width: 100%;
		order: 4;
	}

	@media ($desktop-widths) {
		order: unset;
	}
	&__dropdown {
		@media ($tablet-widths) {
			display: flex;
		}
	}
	&__list {
		flex-direction: column;

		@media ($tablet-widths) {
			display: flex;
			width: 100%;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
			background: 0 0;
			text-align: center;
		}
	}
	&__item {
		margin: 0;
		border: 0;
		&:last-child .main-nav__link {
			margin-right: 0px;
		}
	}
	&__link {
		position: relative;
		padding: 5px 15px;
		@include a-link();
		@include style-font(15px, 30px, 700);
		cursor: pointer;
		color: $text-color;
		border-bottom: 1px solid $body-color;
		text-transform: uppercase;

		@media ($tablet-widths) {
			margin-right: 10px;
			padding: 20px 0 30px;
			font-size: 13px;
			border: none;
		}
		@media only screen and (min-width : 900px) {
			font-size: 16px;
		}
		@media ($desktop-widths) {
			margin-right: 71px;
		}

		&::after {
			@include position-container(50%, 50%, auto, 16px);
			width: 0;
			height: 0;
			border-top: 4px solid transparent;
			border-left: 5px solid $text-color;
			border-bottom: 4px solid transparent;
			z-index: 10;

			@media ($tablet-widths) {
				@include position-container(30px, 0, 0, 0);
				width: 100%;
				height: 2px;
				z-index: 999;
				border: none;
			}
		}
		&:hover {
			color: #ee5a3f;
			transition: background .3s .5s;
			&::after {
				border-top: 4px solid transparent;
				border-left: 5px solid #ee5a3f;
				border-bottom: 4px solid transparent;

				@media ($tablet-widths) {
					@include position-container(30px, 0, 0, 0);
					width: 100%;
					height: 2px;
					z-index: 999;
					border: none;
					background: #ee5a3f;
				}
			}
		}

		&:active {
			color: #ee5a3f;
			opacity: 0.6;
			transition: background .3s .5s;
			&::after {
				border-top: 4px solid transparent;
				border-left: 5px solid #ee5a3f;
				border-bottom: 4px solid transparent;
				opacity: 0.6;

				@media ($tablet-widths) {
					@include position-container(30px, 0, 0, 0);
					width: 100%;
					height: 2px;
					z-index: 999;
					border: none;
				}
			}
		}
		&--action {
			color: #ee5a3f;
			&::after {
				@include position-container(50%, 50%, auto, 16px);
				width: 0;
				height: 0;
				border-top: 4px solid transparent;
				border-left: 5px solid #ee5a3f;
				border-bottom: 4px solid transparent;
				z-index: 10;

				@media ($tablet-widths) {
					@include position-container(30px, 0, 0, 0);
					width: 100%;
					height: 2px;
					z-index: 999;
					border: none;
					background: #ee5a3f;
				}
			}
		}
	}
}
