.reviews {
	padding-top: 53px;
	background: $body-bg;

	&__row {
		display: flex;
		flex-wrap: wrap;
		align-items: start;
		justify-content: space-between;

		@media ($desktop-widths) {
			margin: 0 200px;
		}

	}
	&__column {
		display: flex;
		width: 100%;
		flex-direction: column;

		@media ($desktop-widths) {
			width: 480px;
		}

	}
	&__certificate {
		display: none;

		@media ($tablet-widths) {
			display: flex;
			width: 100%;
			margin-bottom: 44px;
			align-items: start;
			justify-content: center;
		}
		@media ($desktop-widths) {
			width: auto;
			margin-bottom: 0;
		}

	}
	&__inner {
		display: flex;
		margin-bottom: 20px;
		align-items: start;
		justify-content: space-between;
	}
	&__headline {
		@include style-font(21px, 30px, 700);
		color: $additional-text-color;
		text-transform: uppercase;

		@media ($tablet-widths) {
			padding-left: 8px;
			font-size: 28px;
		}

	}
	&__link {
		display: block;
		text-align: right;
		@include style-font(15px, 30px, 400);
		color: #ee5a3f;
		text-decoration: none;

		@media ($tablet-widths) {
			font-size: 16px;
		}

		&:hover {
			color: #dc3d20;
		}

	}
	&__link-img {
		display: block;
		margin: 0 10px;
	}
	&-slider {
		position: relative;
		padding-bottom: 77px;

		@media ($tablet-widths) {
			padding-bottom: 116px;
		}

	}
}

.reviews-slide {
	outline: none;
	&__text {
		margin-bottom: 8.5px;
		@include style-font(15px, 22px, 400);
		color: $additional-text-color;

		@media ($tablet-widths) {
			margin-bottom: 30px;
			word-break: break-all;
			@include style-font(16px, 25px, 400);
		}

	}
	&__wrapper {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
	}
	&__date {
		margin-right: 4px;
		@include style-font(14px, 30px, 400);
		color: #7f7f7f;
	}
	&__author {
		margin-right: 4px;
		@include style-font(14px, 30px, 400);
		color: #7f7f7f;
	}
	&__town {
		margin-right: 4px;
		@include style-font(14px, 30px, 400);
		color: #7f7f7f;
	}
}
// Подключаем слайдер slick 
.reviews .slick-slider {
	position: static;
	& .slick-arrow {
		position: absolute;
		display: block;
		width: 68px;
		height: 34px;
		margin: auto;
		bottom: 34px;
		background: transparent;
		z-index: 10;
		border: 1px solid #e7e7e7;
		border-radius: 2px;
		outline: none;
		cursor: pointer;

		@media($tablet-widths) {
			bottom: 60px;
		}

		&:hover {
			border-color: $text-color ;
			&::before {
				border-color: #dc3f23;
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: 10px;
			left: 0;
			width: 10px;
			height: 10px;
			margin: auto;
			border-top: 3px solid #ee5a3f;
			border-right: 3px solid #ee5a3f;
			transform: rotate(45deg);
		}
	}
	& .slick-prev {
		&::before {
			left: 26px;
			transform: rotate(-135deg);
		}
	}
	& .slick-next {
		left: 80px;
		&:before {
			right: 18px;
		}
	}
}